/* 도전과제2 폴더 내에 제공된 css */
.page {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  .empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;
    position: relative;
  }

  .fill {
    background-image: url("@/assets/images/20241122/assignment2/duck.png");
    background-size: cover;
    height: 145px;
    width: 145px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hold {
    border: solid 5px #ccc;
  }

  .hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
  }
}

@media (max-width: 800px) {
  .page {
    flex-direction: column;
  }
}